@model IEnumerable<perpustakaan.ViewModel.MstBukuViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JudulBuku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pengarang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JudulBuku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pengarang)
        </td>
        <td>
            <button type="button" data-id="@item.ID" data-nama="@item.JudulBuku" id="ambil" class="btn  btn-primary">
                Pilih
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>